footer {
    position: relative;
    background: #2d2d2d;
    height: 50vh;
    overflow: hidden;
}

#dust {
    position: absolute;
    z-index: 0;
    width: 100%;
}

canvas {
    max-height: 50vh;
}

.footer-top {
    position: absolute;
    z-index: 10;
}

.ftnumber {
    font-size: 2.5em;
    font-family: "Intro Inline";
    opacity: .8;
    transform: translate(75vw, 5vh);
    position: relative;

    color: #ffe62c;
}

.ftnumber span:nth-child(1) {
    color: #d15e35;
}

.ftnumber span:nth-child(2) {
    color: #2cff8e;
}

.ftnumber span:nth-child(3) {
    color: #82c2ce;
}

.ball {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    opacity: .95;

    /*background: #2cff8e;*/
}

.ball:nth-child(1) {
    transform: translate(-1.4vw, 6vh);
    background: #ffe62c;
}

.ball:nth-child(2) {
    transform: translate(30vw, -3.5vh);
    background: #d15e35;
}

.ball:nth-child(3) {
    transform: translate(62vw, -2.5vh);
    background: #82c2ce;
}

.ball:nth-child(4) {
    transform: translate(16vw, 45.5vh);
    background: #82c2ce;
}

.ball:nth-child(5) {
    transform: translate(97vw, 35.5vh);
    background: #2cff8e;
}

.bigball {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px dashed white;
    position: absolute;

    animation: bigball1 5s linear infinite;
}

.bigball2 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px dashed white;
    position: absolute;

    animation: bigball2 5s linear infinite;
}

@keyframes bigball1 {
    from {
        transform: translate(85vw, -50%) rotate(0deg);
    }
    to {
        transform: translate(85vw, -50%) rotate(90deg);

    }
}

@keyframes bigball2 {
    from {
        transform: translate(-40%, 50%) rotate(0deg);
    }
    to {
        transform: translate(-40%, 50%) rotate(-90deg);

    }
}

.footer-cntr {
    position: absolute;
    z-index: 10;
}

.footer-menu {
    color: #fff;
    font-family: BaronNeue;
    text-transform: uppercase;
    transform: rotate(90deg) translate(18vh, 8vh);
    font-size: 6em;
    cursor: pointer;
}

.txt-ft-center {
    color: #fff;
    font-size: 1em;
    font-family: Intro;
    text-align: center;
    width: 28%;
    display: inline-block;
    margin: 17vh 74vh;
    position: relative;
}
.social {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}
.social img {
    width: 50px;
    height: 50px;
    padding: 10px;
}