.gallery {
    display: flex;
    overflow: hidden;
}


/* ICONS START */
.icons_card {
    height: 125vh;
    background: #222;
}

.icons {
    display: flex;
}

.ico_item {
    margin: 2px;
    height: 250px;
    width: 250px;
}

.icons_card {
    width: 75%;
}


/* DESIGN */

.designers_card {
    width: 25%;
}

.text_des {
    line-height: 1.4px;
    font-family: Intro, sans-serif;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    transform: translate(-8em, 11em) rotate(-90deg);
    animation: animateDes 7s linear infinite;
}

@keyframes animateDes {
    0% {
        transform: translate(-8em, 11em) rotate(-90deg);
    }
    50% {
        transform: translate(-8em, 13em) rotate(-90deg);
    }
    100% {
        transform: translate(-8em, 11em) rotate(-90deg);
    }
}

.design {
    display: flex;
}

.photo_des {
    height: 20em;
}

.photo_des_an {
    transition: .2s;
    transform: translate(-1.5em, -2em) rotate(0deg);
}

.photo_des_an:hover {
    transform: translate(-1.0em, -2.2em) rotate(2deg);
}

.des_name_an {
    transition: 2s;
    width: 100%;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    transform: translate(9em, 5em) rotate(-90deg);
}

.design:hover .des_name_an {
    transform: translate(9em, 6em) rotate(-90deg);
}

.photo_des_pv {
    transition: .2s;
    transform: translate(9em, -2.5em) rotate(0deg);
}

.photo_des_pv:hover {
    transform: translate(10em, -2.8em) rotate(-2deg);
}

.des_name_pv {
    transition: 2s;
    width: 100%;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    transform: translate(9em, -1em) rotate(0deg);
}

.designers_card:hover .des_name_pv {
    transform: translate(9em, -2em) rotate(0deg);
}

.photo_des_us {
    transition: .3s;
    transform: translate(-2em, -5em) rotate(0deg);
    height: 6em;
}

.photo_des_us:hover {
    transform: translate(-2em, -6em) rotate(0deg);
}

.des_name_us {
    transition: 3s;
    color: #000;
    width: 50%;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    transform: scale(0.6) translate(-13em, 1em) rotate(0deg);
}

.ico_item_1 {
    transition: .2s;
    transform: translate(1em, 1em) rotate(0deg);
    background-image: url(../img/321.jpg);
}

.ico_item_1:hover {
    transform: translate(1em, 1em) rotate(5deg);
}

.ico_item_2 {
    transition: .2s;
    transform: translate(3em, 2em) rotate(0deg);
    background-image: url(../img/321.jpg);
}

.ico_item_2:hover {
    transform: translate(3em, 2em) rotate(-5deg);
}

.ico_item_3 {
    transition: .2s;
    transform: translate(5em, 0.5em) rotate(0deg);
    background-image: url(../img/321.jpg);
}

.ico_item_3:hover {
    transform: translate(5em, 0.5em) rotate(5deg);
}

.ico_item_4 {
    transition: .2s;
    transform: translate(6em, 4em) rotate(0deg);
    background-image: url(../img/321.jpg);
}

.ico_item_4:hover {
    transform: translate(5em, 0.5em) rotate(-5deg);
}

.ico_item_5 {
    transition: .2s;
    transform: translate(-2em, 3em) rotate(0deg);
    background-image: url(../img/321.jpg);
}

.ico_item_5:hover {
    transform: translate(-2em, 3em) rotate(8deg);
}

.ico_item_6 {
    transition: .2s;
    transform: translate(2em, 4em) rotate(0deg);
    background-image: url(../img/321.jpg);
}

.ico_item_6:hover {
    transform: translate(2em, 4em) rotate(-4deg);
}

.ico_item_7 {
    transition: .2s;
    transform: translate(2.5em, 1.5em) rotate(0deg);
    background-image: url(../img/321.jpg);
}

.ico_item_7:hover {
    transform: translate(2.5em, 1.5em) rotate(-5deg);
}

.ico_item_8 {
    transition: .2s;
    transform: translate(3em, 6em) rotate(0deg);
    background-image: url(../img/321.jpg);
}

.ico_item_8:hover {
    transform: translate(3em, 6em) rotate(4deg);
}

.ico_item_9 {
    transition: .2s;
    transform: translate(1.5em, 4em) rotate(0deg);
    background-image: url(../img/321.jpg);
}

.ico_item_9:hover {
    transform: translate(1.5em, 4em) rotate(-8deg);
}

.ico_item_10 {
    transition: .2s;
    transform: translate(3em, 5em) rotate(0deg);
    background-image: url(../img/321.jpg);
}

.ico_item_10:hover {
    transform: translate(3em, 5em) rotate(6deg);
}

.ico_item_11 {
    transition: .2s;
    transform: translate(3.5em, 7em) rotate(0deg);
    background-image: url(../img/321.jpg);
}

.ico_item_11:hover {
    transform: translate(3.5em, 7em) rotate(-4deg);
}

.ico_item_12 {
    transition: .2s;
    transform: translate(5em, 7em) rotate(0deg);
    background-image: url(../img/321.jpg);
}

.ico_item_12:hover {
    transform: translate(5em, 7em) rotate(6deg);
}

.navbar {
    transition: .2s;
    opacity: .3;
    background: #222;
    padding: 2em;
    display: flex;
}

.navbar:hover {

    background: #fff;
}

.des_num {
    font-size: 20px;
    width: 60%;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar:hover .des_num {
    opacity: 1;
    color: #333;
}

.des_menu {
    margin-left: 6em;
    font-size: 20px;
    color: #fff;
    width: 60%;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar:hover .des_menu {
    color: #333;
    opacity: 1;
}