* {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
}

.mainscreen {
    background: url("../img/background.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.backgroundtext {
    font-size: 16vw;
    color: #ffffff10;
    font-family: BaronNeue;
    position: relative;
    /*height: 100vh;*/
    width: 95vw;
    z-index: 0;
    overflow: hidden;
}

.prlx {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.prlxoff {
    margin: -15vh 0 0 -10vh;
}

.prlx-img {
    width: 110%;
}

.top-text {
    position: absolute;
    margin: 30vh 0 0 20vh;
    width: 42vw;
    z-index: 5;
}

.center-text {
    font-family: Intro;
    color: white;
    font-size: 3em;
    line-height: 1.15em;
}

.center-text span {
    font-family: Cleanvertising;
    color: rgba(255, 243, 110, 0.21);
    font-size: 1.8em;
    margin: 0 -1vw 0vh -5vh;
}

.btn {
    display: block;
    font-size: 3.5em;
    font-family: BaronNeue;
    color: #fff;
    margin: 10vh 0 0 15vh;
    transition: .5s;
}

.btn img {
    width: 2.3vw;
    height: auto;
    margin-bottom: 9px;
    margin-right: 7px;
    transition: 1s;
}

.btn::after {
    content: "";
    width: 57%;
    height: 3.4vh;
    margin: -3.4% 0 0 -4%;
    background: #d15e35;
    display: block;
    transition: .7s;
}

.btn:hover {
    transform: scale(.95);
    margin: 10vh 0 0 18vh;

}
.btn:hover.btn::after {
    width: 60%;
    height: 3.4vh;
    margin: -1% 0 0 -7.5%;
    background: #f49500;
    /*opacity: .6;*/
}
.btn:hover.btn img {
    margin-bottom: -7px;
}