.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    position: absolute;
    z-index: 1000;
    width: 100%;

    padding-top: 30px;
}

.headerin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1em 0 1em;
}

.logohead {
    width: 10%;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}

.navhead {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}


.menu {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 0.5em;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;

}

.menu:hover {
    background: #ffffff;
    color: #050801;
    box-shadow: 0 0 5px #ffffff,
    0 0 25px #ffffff,
    0 0 50px #ffffff,
    0 0 200px #ffffff;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
