@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@font-face {
    font-family: BaronNeue;
    src: url(../fonts/BaronNeue.otf);
}
@font-face {
    font-family: Intro;
    src: url(../fonts/Intro.otf);
}
@font-face {
    font-family: Cleanvertising;
    src: url(../fonts/CLEAN.ttf);
}
@font-face {
    font-family: "Intro Inline";
    src: url(../fonts/IntroInline.otf);
}