


.whywe{
	height: 160vh;
	margin-top: 4vh;
	width: 100%;
	overflow: hidden;
}

.menu_m{
	color: #d15e35;
	font-size: 23px;
	font-family: Intro, sans-serif;
}

/*TOP NAV BAR*/
.menu_w{
	display: flex;
	justify-content: space-between;
}
.number1{
	transition: .2s;
	opacity: .3;
	color: #82c2ce;
	font-size: 23px;
	font-family: Intro, sans-serif;
}
.number1:hover{
	transform: scale(1.1);
	opacity: 1;
}
.circle_dotted_menu{
	padding-left: 3em;
	padding-top: 1em;
	border: 2px black dotted;
	border-radius: 100px;
}
/*MID - WHY SCREEN - part1*/

.mid_w{
	display: flex;
}
.cards{
	margin-top: 2em;
	font-family: BaronNeue, sans-serif;
	color: #fff;
	display: flex;
}




.card_u{
	transition: .3s;
	background: #2d2d2d;
	width: 415px;
	height: 450px;
	transform: translate(0px, 0px);
}
.card_u:hover{
	transform: translate(-10px, 10px);
}
.title_u{
	font-size: 40px;
	margin-left: 2em;
	margin-top: 1em;
}
.text_u{
	margin-right: 3em;
	text-align: right;
	margin-top: 16em;
	line-height: 1.2;
	font-size: 14px;
}
.circle_dotted_u{
	padding-left: 10em;
	padding-top: 9em;
	border: 2px white dotted;
	border-radius: 100px;
	animation: animateCircle 10s linear infinite;
}


.card_p{
	transition: .3s;
	background: #2d2d2d;
	width: 415px;
	height: 450px;
	transform: translate(100px, 200px);
}
.card_p:hover{
	transform: translate(110px, 210px);
}
.title_p{
	font-size: 40px;
	margin-left: 7em;
	margin-top: 3em;
}
.text_p{
	margin-left: 3em;
	text-align: left;
	margin-top: 8em;
	line-height: 1.2;
	font-size: 14px;
}
.text_p:before{
	opacity: 1;
	transition: .5s;
	content: "";
    display: block;
    width: 110%;
    height: 60px;
    transform: translate(0px, -80px);
    margin-left: -20em;
    border-radius: 2px;
    background: #f49500;
}
.circle_dotted{
	transform: rotate(0deg);
	padding-left: 6em;
	padding-top: 5em;
	border: 2px black dotted;
	border-radius: 100px;
 	transition: all 0.5s ease;
 	animation: animateCircle 7s linear infinite;
}

@keyframes animateCircle {
    0% {
       border-radius: 100px;
    }
    50% {
       border-radius: 40px;
    }
    100%{
    	border-radius: 100px;
    }
}



.card_t{
	transition: .3s;
	background: #2d2d2d;
	width: 415px;
	height: 450px;
	transform: translate(-110vh, 80vh);
}
.card_t:hover{
	transform: translate(-105vh, 75vh);
}
.title_t{
	font-size: 40px;
	margin-left: 1em;
	margin-top: 2em;
}
.text_t{
	margin-right: 1em;
	text-align: right;
	margin-top: 6em;
	line-height: 1.2;
	font-size: 12px;
}
.text_t:after{
	opacity: 1;
	transition: .5s;
	content: "";
    display: block;
    width: 110%;
    height: 60px;
    transform: translate(0px, 20px);
    margin-left: -20em;
    border-radius: 2px;
    background: #f49500;
}

/*MID - WHY SCREEN - part2*/

.text_w{
	font-size: 40px;
	font-family: Intro, sans-serif;
	font-weight: bold;
	text-align: right;
	transform: translate(-7em, 0px);
	transition: .3s;
}

.text_w:hover{
	transform: translate(-6.5em, 1px);
}
.textes{
	font-family: Intro, sans-serif;
	font-size: 90px;
	opacity: .1;
}
.why{
	transform: translate(-10em, 4em) rotate(-20deg);
	animation: animateW 10s linear infinite;
}

@keyframes animateW {
    0% {
        transform: translate(-10em, 4em) rotate(-20deg);
    }
    50% {
        transform: translate(-8em, 5em) rotate(-5deg);
    }
    100%{
    	transform: translate(-10em, 4em) rotate(-20deg);
    }
}
.omg{
	transform: translate(-7em, -3em) rotate(20deg);
	animation: animateO 10s linear infinite;
}
@keyframes animateO {
    0% {
        transform: translate(-7em, -3em) rotate(20deg);
    }
    50% {
        transform: translate(-9em, -4em) rotate(35deg);
    }
    100%{
    	transform: translate(-7em, -3em) rotate(20deg);
    }
}
.yes{
	transform: translate(-2em, .5em) rotate(5deg);
	animation: animateY 10s linear infinite;
}
@keyframes animateY {
    0% {
        transform: translate(-2em, .5em) rotate(5deg);
    }
    50% {
       transform: translate(-4em, .8em) rotate(20deg);
    }
    100%{
    	transform: translate(-2em, .5em) rotate(5deg);
    }
}
.logos{
	transform: translate(-3em, 8em) rotate(-30deg);
	animation: animateL 1s linear infinite;
}
@keyframes animateL {
    0% {
        transform: translate(-3em, 8em) rotate(-30deg);
    }
    50% {
       transform: translate(-3.5em, 8em) rotate(-32deg);
    }
    100%{
    	transform: translate(-3em, 8em) rotate(-30deg);
    }
}
.circle{
	height: 80px;
	width: 80px;
}
.topq{
	transform: translate(-22em, 13em) rotate(-20deg);
	animation: animate_q 10s linear infinite;
}
@keyframes animate_q {
    0% {
       transform: translate(-22em, 13em) rotate(-20deg);
    }
    50% {
       transform: translate(-26em, 14em) rotate(-90deg);
    }
    100%{
    	transform: translate(-22em, 13em) rotate(-20deg);
    }
}
.topw{
	transform: translate(-84em, 1em) rotate(-20deg);
	animation: animate_w 8s linear infinite;
}
@keyframes animate_w {
    0% {
       transform: translate(-84em, 1em) rotate(-20deg);
    }
    50% {
       transform: translate(-80em, 1.3em) rotate(-60deg);
    }
    100%{
    	transform: translate(-84em, 1em) rotate(-20deg);
    }
}
.tope{
	transform: translate(-63em, 55em) rotate(-20deg);
	animation: animate_e 6s linear infinite;
}
@keyframes animate_e {
    0% {
       transform: translate(-63em, 55em) rotate(-20deg);
    }
    50% {
      transform: translate(-60em, 56em) rotate(-70deg);
    }
    100%{
    	transform: translate(-63em, 55em) rotate(-20deg);
    }
}


.block_one{
	transition: .4s;
	overflow: hidden;
	height: 6em;
	width: 35em;
	transform: translate(30em, 25em) rotate(-30deg);
	background-color: #fff36e;
}
.block_one:hover{
	transform: translate(31em, 25em) rotate(-30deg);
}
.block_two{
	transition: .4s;
	overflow: hidden;
	height: 6em;
	width: 35em;
	transform: translate(80em, -8.5em) rotate(-30deg);
	background-color: #82c2ce;
}
.block_two:hover{
	transform: translate(81em, -8.5em) rotate(-30deg);
}
.block_three{
	transition: .4s;
	overflow: hidden;
	height: 6em;
	width: 55em;
	transform: translate(60em, 7em) rotate(-30deg);
	background-color: #d15e35;
}
.block_three:hover{
	transform: translate(61em, 7em) rotate(-30deg);
}
.block_four{
	transition: .4s;
	overflow: hidden;
	height: 6em;
	width: 55em;
	transform: translate(65em, 7em) rotate(-30deg);
	background-color: #2cff8e;
}
.block_four:hover{
	transform: translate(64em, 5em) rotate(-30deg);
}